<div class="nav w1210 bc mt10">
    <!--  商品分类部分 start-->
    <div class="category fl {if condition="$isNav == false" }cat1 {/if}"> <!-- 非首页，需要添加cat1类 -->
        <div class="cat_hd {if condition="$isNav == false" }off {/if}">  <!-- 注意，首页在此div上只需要添加cat_hd类，非首页，默认收缩分类时添加上off类，鼠标滑过时展开菜单则将off类换成on类 -->
            <h2>全部商品分类</h2>
            <em></em>
        </div>

        <div class="cat_bd {if condition="$isNav == false" }none {/if}">
            {foreach $navData as $v}
            <div class="cat item1">
                <h3><a target="_blank" href="<?php echo url('Search/cat_search',['cat_id'=>$v['id']],false);?>">{$v.cat_name}</a> <b></b></h3>
                <div class="cat_detail">
                    {notempty name="$v.children"}
                    {foreach $v.children as $v1}
                    <dl class="dl_1st">
                        <dt><a target="_blank" href="<?php echo url('Search/cat_search',['cat_id'=>$v1['id']],false);?>">{$v1.cat_name}</a></dt>
                        <dd>
                            {notempty name="$v1.children"}
                            {foreach $v1.children as $v2}
                            <a target="_blank" href="<?php echo url('Search/cat_search',['cat_id'=>$v2['id']],false);?>">{$v2.cat_name}</a>
                            {/foreach}
                            {/notempty}
                        </dd>
                    </dl>
                    {/foreach}
                    {/notempty}

                </div>
            </div>
            {/foreach}

        </div>

    </div>
    <!--  商品分类部分 end-->

    <div class="navitems fl">
        <ul class="fl">
            <li class="current"><a href="">首页</a></li>
            <li><a href="">电脑频道</a></li>
            <li><a href="">家用电器</a></li>
            <li><a href="">品牌大全</a></li>
            <li><a href="">团购</a></li>
            <li><a href="">积分商城</a></li>
            <li><a href="">夺宝奇兵</a></li>
        </ul>
        <div class="right_corner fl"></div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/style/header.css" type="text/css">